---
import Layout from "../../layouts/Layout.astro";
import Links from "../../components/Links.astro";
import Bar from "../../components/Bar.astro";
import Weather from "../../components/Weather";
---

<Layout title="Startpage">
  <div class="flex flex-wrap gap-8 items-start w-full">
    <div class="px-4 py-8">
      <Links />
    </div>
    <div class="px-2 py-4 lg:ml-auto"><Weather client:visible /></div>
  </div>

  <div class="py-4 mx-auto max-w-[60%]">
    <Bar />
  </div>
</Layout>
