---
import Layout from '../../layouts/Layout.astro';
import Links from '../../components/Links.astro'
---

<Layout>
	<div class="flex flex-wrap gap-8 items-start">
		<div class="px-4 py-8">
			<Links />
		</div>
		<div class="max-w-md px-4 py-8">
			Wiki
		</div>
	</div>
</Layout>

